<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Exclude /pi and /sti from being rewritten
    RewriteCond %{REQUEST_URI} ^/pi [OR]
    RewriteCond %{REQUEST_URI} ^/sti
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Rewrite all other requests to index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /index.html [L]
</IfModule>
